:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --border-radius: 1rem; /* 边角圆润程度 */
    --shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    --gap: 1.5rem;
    --hover-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #edc0bf 0%, #c4caef 58%);
}

.container {
    max-width: 1200px; /* 更宽的容器 */
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 自适应卡牌宽度 */
    gap: var(--gap); /* 卡牌间距 */
}

.card {
    border: 1px solid rgba(255, 255, 255, 0.5); /* 半透明白色边框 */
    border-radius: var(--border-radius); /* 圆角 */
    backdrop-filter: blur(10px); /* 背景模糊效果 */
    background: rgba(255, 255, 255, 0.7); /* 半透明白色背景 */
    box-shadow: var(--shadow);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none; /* 去掉链接下划线 */
    color: inherit; /* 继承颜色 */
    transition: transform 0.2s, box-shadow 0.2s; /* 添加动画效果 */
}

.img-container {
    position: relative;
    width: 100%;
    height: 200px; /* 与图片最大高度一致 */
    background-color: black; /* 黑色背景 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    color: white; /* 加载中文字颜色 */
    font-size: 1.2rem;
    display: block;
    z-index: 1; /* 确保加载中文本在上方 */
}

.card img {
    width: 100%;
    height: auto;
    max-height: 200px; /* 设置最大高度 */
    border-radius: var(--border-radius);
    object-fit: cover; /* 保持纵横比，同时裁剪多余部分 */
    display: none; /* 初始隐藏 */
}

.card h3 {
    margin: 0.5rem 0;
}

.card time {
    font-size: 0.875rem;
    color: var(--secondary-color);
}

.card:hover {
    transform: translateY(-5px); /* 悬停时抬起 */
    box-shadow: var(--hover-shadow); /* 悬停时增加阴影 */
}
